<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Find Average Ticket Cost</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
                <h2>Find Average Ticket Cost for a date</h2>

                <div class="d-flex align-items-center">

                    <!-- Logged-in User Name -->
                    <span class="mr-3">Logged in User: <strong><span class="mr-3" th:text="${loggedInUserName}"></span></strong></span>

                    <!-- Logout Button -->
                    <h6><a th:href="@{/logout}" class="btn btn-primary text-white mt-2">Logout</a></h6>

                </div>

            </div>
            <div class="card-body bg-light text-dark">
                <form th:action="@{/bookings/averageCostOnDate}" method="post">
                    <div class="form-group">
                        <label for="date" class="form-label">Enter Date:</label>
                        <input type="date" id="date" name="date" class="form-control"
                               th:max="${T(java.time.LocalDate).now()}" required/>
                    </div>
                    <button type="submit" class="btn btn-primary">Get Average Cost</button>
                </form>

                <div th:if="${errorMessage}" class="alert alert-danger mt-3">
                    <p th:text="${errorMessage}"></p>
                </div>

                <div th:if="${averageCost != null}" class="text-primary mt-1">
                    <p>Average Ticket Cost: <strong><span th:text="${averageCost}"></span></strong></p>
                </div>


                <!--Back button -->
                <a href="/redbus" class="btn btn-secondary mt-3">Back to Home</a>
            </div>

        </div>
    </div>
</body>
</html>