<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Find Average Ticket Cost</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Find Average Ticket Cost for a date</h2>
            </div>
            <div class="card-body">
                <form th:action="@{/bookings/averageCostOnDate}" method="post">
                    <div class="form-group">
                        <label for="date">Enter Date (dd/MM/yyyy):</label>
                        <input type="text" id="date" name="date" placeholder="dd/MM/yyyy" class="form-control" required/>
                    </div>
                    <button type="submit" class="btn btn-primary">Get Average Cost</button>
                </form>

                <div th:if="${errorMessage}" class="alert alert-danger mt-3">
                    <p th:text="${errorMessage}"></p>
                </div>

                <div th:if="${averageCost != null}" class="text-primary">
                    <p>Average Ticket Cost: <span th:text="${averageCost}"></span></p>
                </div>


                <!--Back button -->
                <a href="/redbus" class="btn btn-secondary mt-3">Back to Home</a>
            </div>

        </div>
    </div>
</body>
</html>