<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Passenger Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        /* Container for checkbox and label */
        .checkbox-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px; /* Adjust the spacing below the checkbox */
        }

        /* Checkbox style */
        .checkbox-container input[type="checkbox"] {
            width: 24px;
            height: 24px;
            accent-color: green; /* Green tick color */
            margin-right: 10px; /* Space between checkbox and label */
        }

        /* Label style */
        .checkbox-container label {
            font-size: 18px; /* Adjust label font size */
            margin: 0; /* Ensure no margin is causing misalignment */
        }

        .bus-container {
            display: none; /* Initially hide all bus containers */
        }

    </style>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    <h2>Passenger Details</h2>

                <!-- Logout Button -->
                <h6><a th:href="@{/logout}" class="btn btn-success text-white mt-2">Logout</a></h6>

            </div>
            <div class="card-body bg-light text-dark">

                <form th:action="@{/bookings/checkRouteAvailability}" method="post">

                    <div class="row mt-2">
                        <!-- Source Selection Dropdown -->
                        <div class="col-md-6">
                            <label for="source" class="form-label">Select Source:</label>
                            <select class="form-control" name="source" id="source">
                                <option value="">No Source Selected</option>
                                <option
                                        th:each="source : ${sources}"
                                        th:value="${source}"
                                        th:text="${source}"
                                        th:selected="${source == selectedSource}">

                                </option>
                            </select>
                        </div>

                        <!-- Destination Selection Dropdown -->
                        <div class="col-md-6">
                            <label for="destination" class="form-label">Select Destination:</label>
                            <select class="form-control" name="destination" id="destination">
                                <option value="">No Destination Selected</option>
                                <option
                                        th:each="destination : ${destinations}"
                                        th:value="${destination}"
                                        th:text="${destination}"
                                        th:selected="${destination == selectedDestination}">

                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mt-3">
                        <!-- Check Availability Button -->
                        <button type="submit" class="btn btn-warning">Check Availability</button>

                        <!-- Error message div -->
                        <div class="alert alert-danger d-inline-block ml-3 mt-3" style="width: auto" th:if="${errorMessage != null}" >
                            <p th:text="${errorMessage}"></p>
                        </div>

                        <!-- Success message div -->
                        <div class="alert alert-success d-inline-block ml-3 mt-3" style="width: auto" th:if="${successMessage != null}" >
                            <p th:text="${successMessage}"></p>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <div class="col-md-6">
                            <label for="busTypeDropdown" class="form-label">Select Bus Type:</label>
                            <select class="form-control" name="busType" id="busTypeDropdown">
                                <option value="">No Bus Type Selected</option>
                                <option
                                        th:each="busType : ${busTypes}"
                                        th:value="${busType}"
                                        th:text="${busType}">
                                </option>
                            </select>

                        </div>

                        <div class="col-md-6">
                            <label for="travelDatePicker" class="form-label">Choose Travel Date: </label>
                            <input type="date" id="travelDatePicker" name="travelDate" class="form-control"
                                   th:min="${T(java.time.LocalDate).now()}"
                            th:value="${selectedTravelDate}"/>
                        </div>

                        <div class="bus-container ml-3 mt-2" th:each="entry : ${busesByType}" th:data-type="${entry.key}">
                            <div th:each="bus : ${entry.value}">
                                <label>
                                    <input type="radio" name="bus" th:value="${bus.busId}"/>
                                    <span th:text="${bus.busNo} + ', ' + ${bus.formattedBusTiming} + ' Daily'"></span>
                                </label>
                            </div>
                        </div>

                    </div>

                </form>

                <!-- Passenger Forms -->
                <form th:action="@{/bookings/create}" method="post">
                    <!-- Hidden Inputs -->
                    <input type="hidden" name="source" th:value="${selectedSource}">
                    <input type="hidden" name="destination" th:value="${selectedDestination}">
                    <input type="hidden" name="busType" th:value="''">
                    <input type="hidden" name="travelDate" th:value="''" id="hiddenTravelDate">

                    <div class="checkbox-container mt-3">
                        <input type="checkbox" id="addUserAsPassengerCheckBox" name="addUserAsPassenger">
                        <label for="addUserAsPassengerCheckBox">Add User as passenger</label>
                    </div>

                    <label id="labelForUserSeatType" for="seatTypeForUserDropDown" class="form-label mt-1" style="display: none;">Seat Preference For User:</label>
                    <select id="seatTypeForUserDropDown" class="form-control" name="seatTypeForUser" style="display: none;">
                        <option th:each="seatPref : ${seatPreferences}" th:value="${seatPref}" th:text="${seatPref}">Seat Preference</option>
                    </select>

                    <div id="passenger-forms">
                        <div class="form-group passenger-form mt-4">
                            <label for="name-0">Passenger Name:</label>
                            <input type="text" class="form-control" name="passengers[0].name" id="name-0" required>

                            <label for="age-0" class="mt-3">Age:</label>
                            <input type="number" class="form-control" name="passengers[0].age" id="age-0" required>

                            <label for="gender-0" class="mt-3">Gender:</label>
                            <select class="form-control" name="passengers[0].gender" id="gender-0">
                                <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}">Gender</option>
                            </select>

                            <label for="seatPreference-0" class="mt-3">Seat Preference:</label>
                            <select class="form-control" name="passengers[0].busSeat.seatType" id="seatPreference-0">
                                <option th:each="seatPref : ${seatPreferences}" th:value="${seatPref}" th:text="${seatPref}">Seat Preference</option>
                            </select>
                        </div>
                    </div>

                    <button type="button" id="add-passenger" class="btn btn-primary mt-3">Add Another Passenger</button>
                    <button type="submit" class="btn btn-success mt-3">Submit</button>
                    <a href="/redbus" class="btn btn-danger mt-3">Cancel</a>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        let passengerIndex = 1;

        // Pass Thymeleaf variables to JavaScript

        const genders = ['MALE', 'FEMALE', 'OTHER'];
        const seatPreferences = ['NO_PREFERENCE', 'AISLE', 'WINDOW'];

        $('#add-passenger').click(function () {
            const newForm = `
                <hr class="text-primary my-4" style="border-top: 3px solid; border-radius: 5px;">
                <div class="form-group passenger-form mt-4">
                    <label for="name-${passengerIndex}">Passenger Name:</label>
                    <input type="text" class="form-control" name="passengers[${passengerIndex}].name" id="name-${passengerIndex}" required>

                    <label for="age-${passengerIndex}" class="mt-3">Age:</label>
                    <input type="number" class="form-control" name="passengers[${passengerIndex}].age" id="age-${passengerIndex}" required>

                    <label for="gender-${passengerIndex}" class="mt-3">Gender:</label>
                    <select class="form-control" name="passengers[${passengerIndex}].gender" id="gender-${passengerIndex}">
                        ${genders.map(gender => `<option value="${gender}">${gender}</option>`).join('')}
                    </select>

                    <label for="seatPreference-${passengerIndex}" class="mt-3">Seat Preference:</label>
                    <select class="form-control" name="passengers[${passengerIndex}].busSeat.seatType" id="seatPreference-${passengerIndex}">
                        ${seatPreferences.map(seatPref => `<option value="${seatPref}">${seatPref}</option>`).join('')}
                    </select>
                </div>
            `;

            $('#passenger-forms').append(newForm);
            passengerIndex++;
        });

    </script>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("travelDatePicker").addEventListener("change", function () {
                document.getElementById("hiddenTravelDate").value = this.value;
            });

            document.getElementById("addUserAsPassengerCheckBox").addEventListener("change", function () {
                let dropdown = document.getElementById("seatTypeForUserDropDown");
                let labelDropDown = document.getElementById("labelForUserSeatType")
                if (this.checked) {
                    dropdown.style.display = "inline-block"; // Show the dropdown
                    labelDropDown.style.display = "inline-block";
                } else {
                    dropdown.style.display = "none"; // Hide the dropdown
                    labelDropDown.style.display = "none";
                }
            });

            document.getElementById("busTypeDropdown").addEventListener("change", function () {
                const selectedType = this.value; // Get selected bus type

                const busContainers = document.querySelectorAll(".bus-container"); // All bus containers

                document.querySelector('input[name="busType"]').value = selectedType;

                // Display the bus containers for the selected type
                busContainers.forEach(function (container) {
                    const containerType = container.getAttribute("data-type"); // Get the bus type from data attribute
                    if (selectedType === "") {
                        container.style.display = "none"; // Hide all containers if no bus type selected
                    } else if (selectedType === containerType) {
                        container.style.display = "block"; // Show matching buses
                    } else {
                        container.style.display = "none"; // Hide non-matching buses
                    }
                });
            });
        });


    </script>

</body>
</html>