<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Passenger Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        /* Container for checkbox and label */
        .checkbox-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px; /* Adjust the spacing below the checkbox */
        }

        /* Checkbox style */
        .checkbox-container input[type="checkbox"] {
            width: 24px;
            height: 24px;
            accent-color: green; /* Green tick color */
            margin-right: 10px; /* Space between checkbox and label */
        }

        /* Label style */
        .checkbox-container label {
            font-size: 18px; /* Adjust label font size */
            margin: 0; /* Ensure no margin is causing misalignment */
        }

        .bus-container {
            display: none; /* Initially hide all bus containers */
        }

        .red-text {
            color: red;
        }

        .yellow-text {
            color: yellow;
        }

        .green-text {
            color: green;
        }

    </style>
</head>
<body>
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                    <h2>Passenger Details</h2>

                <div class="d-flex align-items-center">

                    <!-- Logged-in User Name -->
                    <span class="mr-3">Logged in User: <strong><span th:text="${loggedInUserName}"></span></strong></span>

                <!-- Logout Button -->
                    <h6><a th:href="@{/logout}" class="btn btn-success text-white mt-2">Logout</a></h6>

                </div>

            </div>
            <div class="card-body bg-light text-dark">

                <form th:action="@{/bookings/checkRouteAvailability}" method="post">

                    <div class="row mt-2">
                        <!-- Source Selection Dropdown -->
                        <div class="col-md-6">
                            <label for="source" class="form-label">Select Source:</label>
                            <select class="form-control" name="source" id="source">
                                <option value="">No Source Selected</option>
                                <option
                                        th:each="source : ${sources}"
                                        th:value="${source}"
                                        th:text="${source}"
                                        th:selected="${source == selectedSource}">

                                </option>
                            </select>
                        </div>

                        <!-- Destination Selection Dropdown -->
                        <div class="col-md-6">
                            <label for="destination" class="form-label">Select Destination:</label>
                            <select class="form-control" name="destination" id="destination">
                                <option value="">No Destination Selected</option>
                                <option
                                        th:each="destination : ${destinations}"
                                        th:value="${destination}"
                                        th:text="${destination}"
                                        th:selected="${destination == selectedDestination}">

                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mt-3">
                        <!-- Check Availability Button -->
                        <button type="submit" class="btn btn-warning">Check Availability</button>

                        <!-- Error message div -->
                        <div class="alert alert-danger d-inline-block ml-3 mt-3" style="width: auto" th:if="${errorMessage != null}" >
                            <p th:text="${errorMessage}"></p>
                        </div>

                        <!-- Success message div -->
                        <div class="alert alert-success d-inline-block ml-3 mt-3" style="width: auto" th:if="${successMessage != null}" >
                            <p th:text="${successMessage}"></p>
                        </div>
                    </div>

                    <div class="form-group row mt-2">
                        <div class="col-md-6">
                            <label for="busTypeDropdown" class="form-label">Select Bus Type:</label>
                            <select class="form-control" name="busType" id="busTypeDropdown">
                                <option
                                        th:each="busType : ${busTypes}"
                                        th:value="${busType.name}"
                                        th:text="${busType.toString}">
                                </option>
                            </select>

                        </div>

                        <div class="col-md-6">
                            <label for="travelDatePicker" class="form-label">Choose Travel Date: </label>
                            <input type="date" id="travelDatePicker" name="travelDate" class="form-control"
                                   th:min="${T(java.time.LocalDate).now()}"
                            th:value="${selectedTravelDate}"/>
                        </div>

                        <div class="bus-container ml-3 mt-2" th:each="entry : ${busesByType}" th:data-type="${entry.key.name}">
                            <div th:each="bus : ${entry.value}">
                                <label>
                                    <input type="radio" name="busId" th:value="${bus.busId}" onclick="updateSelectedBusId(this)" />
                                    <span th:text="${bus.companyName} + ', ' + ${bus.busNo} + ', ' + ${bus.formattedBusTiming} + ', Daily, Available Seats: '"></span><span th:text="${bus.availableSeats}" th:class="${bus.styleClass}"></span>
                                </label>
                            </div>
                        </div>

                    </div>

                </form>

                <!-- Passenger Forms -->
                <form id="passengersSaveForm" th:action="@{/bookings/create}" method="post">
                    <!-- Hidden Inputs -->
                    <input type="hidden" name="source" th:value="${selectedSource}" />
                    <input type="hidden" name="destination" th:value="${selectedDestination}" />
                    <input type="hidden" name="busType" th:value="''" />
                    <input type="hidden" name="travelDate" th:value="''" id="hiddenTravelDate" />
                    <input type="hidden" id="selectedBusId" name="busId" value="" />

                    <div class="checkbox-container mt-3">
                        <input type="checkbox" id="addUserAsPassengerCheckBox" name="addUserAsPassenger">
                        <label for="addUserAsPassengerCheckBox">Add <span th:text="${loggedInUserName}"/> as passenger</label>
                    </div>

                    <div id="seatTypeForUserDiv" th:class="bus-container" class="mt-3" th:each="entry : ${seatCostsByType}" th:data-type="${entry.key.name}">
                        <label for="seatTypeForUserDropDown" class="mt-3" >Seat Preference:</label>
                        <select id="seatTypeForUserDropDown" name="seatTypeForUser" class="form-control">
                            <option value="">No Preference</option>
                            <option th:each="seatCost : ${entry.value}"
                                    th:value="${seatCost.seatCostId}"
                                    th:text="${seatCost.seatType} + ' - ' + ${seatCost.cost}">
                            </option>
                        </select>
                    </div>

                    <div id="passenger-forms">
                        <div class="form-group passenger-form mt-4">
                            <label for="name-0">Passenger Name:</label>
                            <input type="text" class="form-control" name="passengers[0].name" id="name-0" required>

                            <label for="age-0" class="mt-3">Age:</label>
                            <input type="number" class="form-control" name="passengers[0].age" id="age-0" min="1" max="100" required>

                            <label for="gender-0" class="mt-3">Gender:</label>
                            <select class="form-control" name="passengers[0].gender" id="gender-0">
                                <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}">Gender</option>
                            </select>

                            <div class="bus-container mt-3" th:each="entry : ${seatCostsByType}" th:data-type="${entry.key.name}">
                                <label for="seatPreference-0" class="mt-3">Seat Preference:</label>
                                <select id="seatPreference-0" class="form-control" name="passengers[0].busSeat.seatType">
                                    <option value="">No Preference</option>
                                    <option th:each="seatCost : ${entry.value}"
                                            th:value="${seatCost.seatCostId}"
                                            th:text="${seatCost.seatType} + ' - ' + ${seatCost.cost}">
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <button type="button" id="add-passenger" class="btn btn-primary mt-3">Add Another Passenger</button>
                    <button type="submit" id="save-passengers" class="btn btn-success mt-3">Submit</button>
                    <a href="/redbus" class="btn btn-danger mt-3">Cancel</a>
                    <span id="warningTextForTravelDate" class="text-danger ml-3 mt-2" style="display: none;">Please select a travel date</span>
                    <span id="warningTextForBus" class="text-danger ml-3 mt-2" style="display: none;">Please select a Bus</span>

                </form>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        let passengerIndex = 1;

        // Function to handle age validation
        function handleAgeValidation(inputElement) {
            inputElement.addEventListener('input', function () {
                const value = parseInt(inputElement.value, 10);
                if (value < 1) {
                    inputElement.value = 1;
                } else if (value > 100) {
                    inputElement.value = 100;
                }
            });
        }

        // Pass Thymeleaf variables to JavaScript

        const genders = ['MALE', 'FEMALE', 'OTHER'];
        // Convert Thymeleaf data to a JavaScript object
        const seatCostsByType = /*[[${seatCostsByType}]]*/ {};

        $('#add-passenger').click(function () {
            const newForm = `
                <hr class="text-primary my-4" style="border-top: 3px solid; border-radius: 5px;">
                <div class="form-group passenger-form mt-4">
                    <label for="name-${passengerIndex}">Passenger Name:</label>
                    <input type="text" class="form-control" name="passengers[${passengerIndex}].name" id="name-${passengerIndex}" required>

                    <label for="age-${passengerIndex}" class="mt-3">Age:</label>
                    <input type="number" class="form-control" name="passengers[${passengerIndex}].age" id="age-${passengerIndex}" min="1" max="100" required>

                    <label for="gender-${passengerIndex}" class="mt-3">Gender:</label>
                    <select class="form-control" name="passengers[${passengerIndex}].gender" id="gender-${passengerIndex}">
                        ${genders.map(gender => `<option value="${gender}">${gender}</option>`).join('')}
                    </select>


                   <div class="mt-3">
                        <label for="seatPreference-${passengerIndex}" class="mt-3">Seat Preference:</label>
                            <select id="seatPreference-${passengerIndex}" class="form-control" name="passengers[${passengerIndex}].busSeat.seatType">
                                <option value="">No Preference</option>
                                ${Object.keys(seatCostsByType).map(type => `
                                    ${seatCostsByType[type].map(seatCost => `
                                        <option value="${seatCost.seatCostId}">${seatCost.seatType} - ${seatCost.cost}</option>
                                    `).join('')}
                                `).join('')}
                            </select>
                    </div>

                </div>
            `;

            $('#passenger-forms').append(newForm);

            updateSeatPreferences(document.getElementById("busTypeDropdown").value);

            handleAgeValidation(document.getElementById(`age-${passengerIndex}`));

            passengerIndex++;
        });

        handleAgeValidation(document.getElementById('age-0'));

    </script>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("travelDatePicker").addEventListener("change", function () {
                document.getElementById("hiddenTravelDate").value = this.value;
            });

            document.getElementById("save-passengers").addEventListener("click", function (event) {
                // Checking if the hidden field or selectedBusId field is empty
                const hiddenTravelDate = document.getElementById("hiddenTravelDate").value;
                const selectedBusIdInput = document.getElementById("selectedBusId");

                if (selectedBusIdInput.value === "") {
                    const warningTextForBus = document.getElementById("warningTextForBus");
                    warningTextForBus.style.display = 'inline'; // Show warning text

                    // Hide the warning text after 3 seconds
                    setTimeout(function () {
                        warningTextForBus.style.display = 'none';
                    }, 3000);

                    event.preventDefault(); // Prevent navigation if needed
                }

                if (!hiddenTravelDate) { // If the value is empty
                    // Show warning text
                    const warningTextForTravelDate = document.getElementById("warningTextForTravelDate");
                    warningTextForTravelDate.style.display = 'inline'; // Show warning text

                    // Hide the warning text after 3 seconds
                    setTimeout(function () {
                        warningTextForTravelDate.style.display = 'none';
                    }, 3000);

                    event.preventDefault(); // Prevent navigation if needed
                }
            });

            document.getElementById("addUserAsPassengerCheckBox").addEventListener("change", function () {
                let userSeatTypeDiv = document.getElementById("seatTypeForUserDiv");
                if (this.checked) {
                    userSeatTypeDiv.style.display = "inline-block"; // Show the dropdown
                } else {
                    userSeatTypeDiv.style.display = "none"; // Hide the dropdown
                }
            });

            document.getElementById("busTypeDropdown").addEventListener("change", function () {
                const selectedType = this.value; // Get selected bus type

                const busContainers = document.querySelectorAll(".bus-container"); // All bus containers
                const selectedBusIdInput = document.getElementById("selectedBusId"); // Hidden input for bus ID

                selectedBusIdInput.value = "";

                document.querySelector('input[name="busType"]').value = selectedType;

                // Clear existing options in seat preference dropdown
                const seatTypeForUserDropDown = document.getElementById("seatTypeForUserDropDown");
                seatTypeForUserDropDown.innerHTML = '<option value="">No Preference</option>'; // Reset to default option

                if (selectedType === "") {
                    busContainers.forEach(function (container) {
                        container.style.display = "none"; // Hiding all containers if no bus type selected
                    });
                    selectedBusIdInput.value = "";
                } else {
                    console.log('Seat Costs for selected type:', seatCostsByType[selectedType]);
                    busContainers.forEach(function (container) {
                        const containerType = container.getAttribute("data-type"); // Getting the bus type from data attribute
                        if (selectedType === containerType) {
                            container.style.display = "block"; // Showing matching buses
                        } else {
                            container.style.display = "none"; // Hiding non-matching buses
                        }
                    });
                }

                updateSeatPreferences(selectedType);
            });

            // Triggering the change event programmatically to update the hidden input on page load
            const busTypeDropdown = document.getElementById("busTypeDropdown");

            if (busTypeDropdown) {
                busTypeDropdown.dispatchEvent(new Event("change")); // Trigger the change event
            }

        });

        function updateSelectedBusId(radio) {
            document.getElementById('selectedBusId').value = radio.value;
        }

        function updateSeatPreferences(selectedType) {
            const passengerForms = document.querySelectorAll(".passenger-form");
            passengerForms.forEach((form, index) => {
                const seatPreferenceSelect = form.querySelector(`#seatPreference-${index}`);
                console.log("Seat Preference Select ", seatPreferenceSelect);
                console.log("Selected Bus Type ", selectedType);
                if (seatPreferenceSelect) {
                    seatPreferenceSelect.innerHTML = '<option value="">No Preference</option>'; // Clear existing options
                    if (selectedType && seatCostsByType[selectedType]) {
                        seatCostsByType[selectedType].forEach(seatCost => {
                            const option = document.createElement('option');
                            option.value = seatCost.seatCostId;
                            option.textContent = `${seatCost.seatType} - ${seatCost.cost}`;
                            seatPreferenceSelect.appendChild(option); // Add new options dynamically
                        });
                    }
                }
            });
        }

    </script>

</body>
</html>