<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Find Count of Passengers travelled</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
            <h2>Find Count of Passengers travelled</h2>

            <div class="d-flex align-items-center">

                <!-- Logged-in User Name -->
                <span class="mr-3">Logged in User: <strong><span th:text="${loggedInUserName}"></span></strong></span>

                <!-- Logout Button -->
                <h6><a th:href="@{/logout}" class="btn btn-primary text-white mt-2">Logout</a></h6>

            </div>

        </div>
        <div class="card-body bg-light text-dark">
            <form th:action="@{/bookings/findPassengersTraveledOnDate}" method="post">
                <div class="form-group">
                    <label for="date" class="form-label">Enter Date:</label>
                    <input type="date" id="date" name="travelDate" class="form-control"
                           th:max="${T(java.time.LocalDate).now()}" required/>
                </div>
                <button type="submit" class="btn btn-primary">Get Count of Passengers</button>

                <div th:if="${errorMessage}" class="alert alert-danger mt-3">
                    <p th:text="${errorMessage}"></p>
                </div>

                <div th:if="${passengers != null && errorMessage == null}" class="text-dark mt-3">Passengers Travelled on this date are: </div>
                <ul class="list-group">
                    <li class="list-group-item" th:each="passenger : ${passengers}">
                        <div class="row">
                            <div class="col text-start">
                                <span th:text="${passenger.name}"></span>
                            </div>

                            <div class="col text-center">
                                <span th:text="${passenger.age} + ' yrs'"></span>(<span th:text="${passenger.gender}"></span>)
                            </div>

                            <div class="col text-end">
                                <span th:text="${passenger.busSeat.seatNumber}"></span>(<span th:text="${passenger.busSeat.seatType}"></span>)
                            </div>

                        </div>
                    </li>
                </ul>
            </form>

            <div th:if="${passengers != null && errorMessage == null}" class="text-success">
                <p>Passenger Count: <strong><span th:text="${count}"></span></strong></p>
            </div>


            <!--Back button -->
            <a href="/swiftseat" class="btn btn-secondary mt-3">Back to Home</a>
        </div>

    </div>
</div>
</body>
</html>