<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fetch Passengers For Booking</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
                <h2>Find Passengers for Booking</h2>

                <!-- Logout Button -->
                <h6><a th:href="@{/logout}" class="btn btn-primary text-white mt-2">Logout</a></h6>
            </div>
            <div class="card-body bg-light text-dark">
                <form th:action="@{/bookings/fetchPassengersForBooking}" method="get">
                    <div class="form-group">
                        <label for="bookingId">Enter Booking ID:</label>
                        <input type="text" id="bookingId" name="bookingId" class="form-control" placeholder="Booking ID" required/>
                    </div>
                    <button type="submit" class="btn btn-primary">Fetch Passengers</button>
                </form>

                <div th:if="${errorMessage}" class="alert alert-danger mt-3">
                    <p th:text="${errorMessage}"></p>
                </div>

                <div th:if="${passengers}">
                    <h4 class="mt-4">Passengers:</h4>
                    <ul class="list-group">
                        <li th:each="passenger : ${passengers}" class="list-group-item">
                            <div class="row">
                                <div class="col text-start">
                                    <span th:text="${passenger.name}"></span>
                                </div>

                                <div class="col text-center">
                                    <span th:text="${passenger.age} + ' yrs'"></span>(<span th:text="${passenger.gender}"></span>)
                                </div>

                                <div class="col text-end">
                                    <span th:text="${passenger.busSeat.seatNumber}"></span>(<span th:text="${passenger.busSeat.seatType}"></span>)
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Back Navigation Link -->
                <a href="/redbus" class="btn btn-secondary mt-3">Back to Home</a>

            </div>
        </div>
    </div>
</body>
</html>