<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Red Bus Booking</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h1>Welcome to the Booking Service</h1>
            </div>
            <div class="card-body bg-light text-dark">
                <h2 class="mt-4">Navigation</h2>
                <ul class="list-group">
                    <li class="list-group-item"><a th:href="@{/bookings/averageCostOnDate}">Average cost of tickets on date</a></li>
                    <li class="list-group-item"><a th:href="@{/bookings/fetchPassengersForBooking}">Passengers belonging to a Booking</a></li>
                    <li class="list-group-item"><a th:href="@{/bookings/selectBusType}">Select Bus Type</a></li>
                    <li class="list-group-item"><a th:href="@{/bookings/selectPaymentMode}">Select Payment Mode</a></li>
                    <li class="list-group-item"><a th:href="@{/bookings/create}">Add Passengers</a></li>
                    <!-- Add more links here as needed -->
                </ul>
            </div>
        </div>
    </div>
</body>
</html>