<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>RaahiReserve</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-success text-white text-center">
                <h1>Welcome to RaahiReserve</h1>
            </div>
            <div class="card-body bg-light text-dark">
                <h3 class="mt-4 text-center">Choose one of the options</h3>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item"><a th:href="@{/bookings/create}">Start Booking</a></li>
                            <li class="list-group-item"><a th:href="@{/payments/doPayment}">Make payment for existing booking</a></li>
                            <li class="list-group-item"><a th:href="@{/bookings/fetchPassengersForBooking}">Passengers belonging to a Booking</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item"><a th:href="@{/bookings/findPassengersTraveledOnDate}">Find passengers travelled on a date</a></li>
                            <li class="list-group-item"><a th:href="@{/bookings/averageCostOnDate}">Average cost of tickets on date</a></li>
                            <li class="list-group-item"><a th:href="@{/passengers/markTraveled}">Mark Passengers as Traveled</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>